<ul>
    <li>
        <ul>
            <li><img src="{{flags.svg}}" alt="" class="flag" width="50" /></li>
            <li><h1 class="country"> {{name.official}}</h1></li>
        </ul>
    </li>
    <li><p class="capital"><span class="text">Capital: </span>{{capital}}</p></li>
    <li><p class="population"><span class="text">Population: </span>{{population}}</p></li>        
    <li> <ul class="languages"><span class="text">Languages:</span>{{#each lang}}
            <li class="tag-list__item">{{name}}</li>
            {{/each}}
        </ul>  
    </li>
</ul> 
